:root{
  --scroll-var-color:rgba(63, 63, 63,.5);
}
.dark{
  --scroll-var-color:rgba(63, 63, 63,1);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.dark{
  background-color: var(--body-bg-color);
}

::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-color: var(--scroll-var-color);
}
::-webkit-scrollbar-track{
  border-radius: 50px;
}